* {
    /* Testing */
    border: 2px solid red;
}

.grid-container {
    display: grid;
    grid: 
        "sidebar header"
        "sidebar main-content";
    height: 100vh;
}

/* SIDEBAR */
.sidebar {
    grid-area: sidebar;
}

/* HEADER */
.header {
    grid-area: header;
}

/* MAIN CONTENT */
.main-content {
    grid-area: main-content;
}