* {
    /* Testing */
    /* border: 2px solid red; */
    /* border: 2px solid rebeccapurple; */
}

.grid-ctn {
    display: grid;
    grid-template: 1fr 5fr / 1fr 3fr;
    grid-template-areas: 
        "sidebar header"    
        "sidebar main-content";
}

/* SIDEBAR */
.sidebar {
    grid-area: sidebar;
    display: grid; /* The Odin Project wants me to practice Grid */
    grid-template-rows: 3.5rem 1fr 3fr;
    gap: 2rem;
}

.logo-ctn {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/* HEADER */
.header {
    grid-area: header;
    display: grid;
    grid-template-rows: 5fr 2fr;
}

/* HEADER TOP */
.header-top {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.header-top-search {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.header-top-right {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: min-content;
    justify-self: end;
}

/* HEADER BOTTOM */
.header-btm {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.header-btm-profile-ctn {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: min-content;
}

.header-btm-actions {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: min-content;
    justify-self: end;
}

/* MAIN CONTENT */
.main-content {
    grid-area: main-content;
    display: grid;
    grid-template: 1fr 2fr / 4fr 1fr;
    grid-template-areas: 
        "main-content-left main-content-right-top"
        "main-content-left main-content-right-btm";
}

/* MAIN CONTENT LEFT */
.main-content-left {
    grid-area: main-content-left;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

.main-content-card-ctn {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
}

/* MAIN CONTENT RIGHT TOP */
.main-content-right-top {
    grid-area: main-content-right-top;
}

/* MAIN CONTENT RIGHT BTM */
.main-content-right-btm {
    grid-area: main-content-right-btm;
}

.user-card-ctn {
    display: grid;
    grid-template-columns: 1fr 4fr
}